@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

*, *::after,
*::before{
	user-select: none;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

:root {
	--font-alternative: 'Tilt Warp', cursive;
	--font-body: "Poppins", sans-serif;
	--color-bg-1: #fcfcfc;
	--color-bg-2: #101010;
	--color-text: #111;
	--dark-text: #ffffff;
}

body {
	min-height: 100vh;
	margin: 0;
	background-color: var(--color-bg-1);
	color: var(--color-text);
	font-family: var(--font-body);
	overflow-x: hidden;
}

section{
	padding: 2.5rem 5rem;
	margin-bottom: 5rem;
}

section .title{
	display: flex;
	align-items: center;
	justify-content: center;
}

section .title .text{
	font-family: var(--font-alternative);
	font-size: 2em;
	text-align: center;
	margin-bottom: 2.5rem;
}

section .title .text{
	position: relative;
	padding: .5rem 1rem;
}

@media (min-width: 720px) {
	h1 {
		font-size: 2.4rem;
	}
}
