@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');

*, *::after,
*::before{
	user-select: none;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

:root {
	--font-alternative: 'Tilt Warp', cursive;
	--font-body: sans-serif;
	--color-bg-1: #111111;
	--color-text: #ffffff;
}

body {
	height: 100vh;
	margin: 0;
	background-color: var(--color-bg-1);
	color: var(--color-text);
	overflow: hidden;
	font-family: var(--font-body);
}

@media (min-width: 720px) {
	h1 {
		font-size: 2.4rem;
	}
}
